# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env
.streamlit/secrets.toml

# Virtual environments
venv/
.venv/
env/

# IDE / Editor folders
.vscode/
.idea/
*.swp
